body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header {
    text-align: center;
}

#message {
    text-align: center;
    height: 40px;
    color: navy;
    font-weight: bold;
}

#container {
    display: flex;
    flex-flow: row wrap;
    /* width: 340px; */
    /* width: 760px; */
    margin:0 auto;
    text-align: center;
    position: relative;
}

.player {
    background-image: url("wondergirl.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.cell {
    width: 40px;
    height: 40px;
}

.floor {
    background-color: white;
}

.wall {
    background-image: url("wall.jpg");
}

.storage {
    width:20px;
    height:20px;
    margin: 10px;
    border-radius:15px;
    background-color: pink;
    display: block;
}

.box {
    background-image: url("crate.png");
}

.boxonstorage {
    background-image: url("cratedark.png");
}